<!doctype html>
<html>
  <head>
    <link href="css/style.css" rel="stylesheet" type="style">
    <title>Weather to Wear</title>
    <link rel="stylesheet" type="text/css"
          href="../public/css/style.css">
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/2/27/Morton_Umbrella_Girl.png">
  </head>
  <body>
    
    <h1>Weather in <%=@city%>, <%=@state%></h1>
      <div id="conditions">
        <h3>The temperature is <%=@city_state_temperature%> degrees Fahrenheit, and the conditions are <%=@city_state_description%>.</h3>
      </div>
    
    <h1>What to wear</h1>
        <div id="outfit">
          <h3>You should wear  <%= @wear_this %></h3>
    </div>
    <h1>What to bring</h1>
        <div id="bring">
          <h3><%= @bring_this %></h3>
    </div>
  </body>
</html>